body {
    background-color: antiquewhite;
}

#Drum-Machine {
    background-color: #c0c6cb;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 0rem;
    width: 50%;
    margin: auto;
    margin-top: 5rem;
}

#display {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 0.5rem;
}

.drum-pad {
    font-size: x-large;
    background: white;
    padding: 1rem 2rem;
    cursor: pointer;
}

.drum-pad:active {
    background: #ffeb3b;
    scale: 1.1;
}

.screen {
    background-color: #a19d9d;
    width: 8rem;
    font-size: large;
    font-weight: 600;
    padding: 1rem 0rem;
    text-align: center;
}